<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">CardOwnerName</th>
            <th scope="col">Card Number</th>
            <th scope="col">Expiration Date</th>
            <th scope="col">CVV</th>
        </tr>
    </thead>
    <tbody>
        <tr scope="row" *ngFor="let pd of service.list">
            <td>{{pd.CardOwnerName}}</td>
            <td>{{pd.CardNumber}}</td>
            <td>{{pd.ExpirationDate}}</td>
            <td>{{pd.CVV}}</td>
            <td>
                <i class="fas fa-user-edit" (click)=populateForm(pd)></i>
            </td>
            <td>
                <i class="fas fa-trash-alt" (click)=deleteRecord(pd.PMid)></i>
            </td>
        </tr>
    
    
    </tbody>
</table>
